.gamewrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

h1 {
    font-family: 'Amatic SC Bold';
}

td img {
    max-width: 50px;
    max-height: 50px;
}

/******************************************************* CHAR INFO */

.charInfo {
    height: 797px;
    min-width: 190px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: stretch;
}

.charInfoBlock {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 10px;
    padding-top: 5px;
}

.charInfoBlock h1 {
    font-size: 30px;
    text-align: left;
}

.charInfoTable tr:nth-child(even) {
    background-color: #3A4646;
    border-spacing: 5px;
    border-radius: 5px;
    padding: 0px 5px;
    display: block;
}

.charInfoTable td {
    width: 10px;
    height: 10px;
    border-radius: 2px;
    padding: 0;
}
.charInfoTable tr:nth-child(even) td:not(.filled) {
    background-color: gray;
}

.filled {
    background-color: orange;
}

/******************************************************* OTHERS INFO */

.othersInfo {
    height: 797px;
    width: 250px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    align-items: center;
    text-align: center;
    font-family: "Ruda";
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

div:has(>#otherPic) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 275px;
    width: 230px;
    padding: 10px;
    padding-bottom: 0;
    background-color: rgba(133, 149, 148, 0.5);
    border-radius: 5px;
}

#otherPic {
    max-width: 230px;
    max-height: 230px;
    width: auto;
    height: auto;
}

#otherName {
    color: #cf755f;
    line-break: auto;
    word-break: break-word;
    font-size: 40px;
    line-height: normal;
}

#otherInfo {
    width: 230px;
    max-height: 60px;
    overflow: hidden;
    padding: 10px;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.5);
}

#othersInfoClose {
    width: 90%;
    color: white;
    background-color: #cf755f;
    border-color: #cf755f;
}

input {
    font-size: 15px !important;
    width: 100px;
    white-space: normal;
}

/******************************************************* GAME */

.gametable {
    background-color: white;
    background-size: 1150px;
    background-position: -225px -20px;
    display: inline-table;
    border-spacing: 0;
    padding: 5px;
}

.gametable td {
    border: 2px solid rgba(0, 0, 0, 0.021);
    width: 60px;
    height: 60px;
    text-align: center;
}
/* 
.occupied {
    background-color: rgba(255, 255, 255, 0.5);
} */

.transition {
    color: white;
    background-image: url(../images/portal.png);
    background-size: cover;
    background-color: blueviolet;
    border-radius: 30px;
    cursor: pointer;
    word-break: break-word;
}

td:has(#char) {
    border: 2px solid orange;
    backdrop-filter: blur(30px) opacity(95%)
}

#msg, .waitingbench {
    display: inline-block;
}

.viewing {
    border: 2px dotted orange !important;
    backdrop-filter: blur(30px) opacity(95%);
}

.hunting {
    border: 2px dashed orange !important;
}


/******************************************************* INVENTORY AND BENCH */

.waitingBench {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 190px;
    margin-right: 15px;
    border-radius: 5px;
}

.waitingBench:has(img) {
    background-color: rgba(255, 255, 255, 0.5);
}

.inventory {
    background-color: #3A4646;
    background-size: cover;
    border: 2px solid black;
    display: inline-table;
    border-spacing: 0;
}

.inventory td {
    border: 2px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
}

#msg {
    color: white;
}

/*
body {
    background: url(../images/bgpic.jpg);
    background-color: rgba(44, 44, 44, 0.75);
    backdrop-filter: blur(15px);
    position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
     
}*/

body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(../images/bgpic.jpg) center / cover no-repeat;
    filter: blur(5px) opacity(75%); 

}